<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>

    <div id="watch-example">
        <p>
          Ask a yes/no question:
          <input v-model="question">
        </p>
        <p>{{ answer }}</p>
        <!--<div v-for="ergebnis in apiErgebnis" v-bind:key="ergebnis.id">Gefunden wurde: {{ergebnis.name}} -> maximal 20 Ergebnisse:</div>-->
        <p>{{ apiErgebnis }}</p>

        <br></br>

        <!--<div v-if="apiErgebnis != undefined ">
          <div v-for="index in 2" :key="index">
            {{apiErgebnis[index-1].name}}
          </div>
        </div>-->
        <div v-for="(value, i) in apiErgebnis"> <!-- Diese Variante, um mit dem Index zu arbeiten-->
          <div v-if="i<2">{{ i+1 }}: Ergebnis: {{value.name}}</div> 
        </div>
      </div>

    <script src="app.js"></script>
</body>
</html>